a {
   text-decoration: none;
}
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   list-style: none;
   padding: 0;
   margin: 0;
}
body {
   height: 100%;
   font-family: 'Arial';
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 115%;
   color: #444444;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
}
.container {
   max-width: 1140px;
   margin: 0 auto;
   box-sizing: content-box;
   padding: 0 15px;
}

/* -------------- Header -------------- */

.header {
   padding: 23px 0;
}
.header_container {
   display: flex;
   align-items: center;
}
.header_logo {
   font-weight: bold;
   font-size: 42px;
   line-height: 114%;
   color: #0047BB;
}
@media (max-width: 767px) {
   .header_logo {
      font-size: 20px;
   }
}
.header_info {
   margin: 0 30px 0 auto;
   display: flex;
   gap: 50px; /* ! SAFARI */
   align-items: center;
}
@media (max-width: 992px) {
   .header_info {
      margin: 0 0 0 auto;
      gap: 30px; /* ! SAFARI */
   }
}
.header_item {
}
.header_link {
   color: #0047BB;
   display: flex;
   align-items: center;
   gap: 15px;
}
@media (max-width: 767px) {
   .header_link {
      font-size: 16px;
   }
}
@media (max-width: 580px) {
   .header_link_text {
      display: none;
   }
}

/* -------------- 1st block -------------- */

.page_main_block {
}
.main_block_container {
   display: flex;
   align-items: center;
}
@media (max-width: 580px) {
   .main_block_container {
      flex-direction: column-reverse;
   }
}
.main_block_text {
   margin: 0 0 0 30px;
   display: flex;
   flex-direction: column;
   gap: 5px; /* ! SAFARI */
}
@media (max-width: 992px) {
   .main_block_text {
      margin: 0 0 0 15px;
   }
}
@media (max-width: 580px) {
   .main_block_text {
      margin: 0;
      text-align: center;
   }
}
.main_block_p {
   color: #444444;
}
@media (max-width: 767px) {
   .main_block_p {
      font-size: 16px;
      line-height: 142%;
   }
}
.main_block_h1 {
   font-weight: bold;
   font-size: 40px;
   line-height: 115%;
   color: #0047BB;
}
@media (max-width: 767px) {
   .main_block_h1 {
      font-size: 26px;
      line-height: 100%;
   }
}
.main_block_img {
   margin: 0 70px 0 auto;
}
@media (max-width: 992px) {
   .main_block_img {
      margin: 0 35px 0 0;
   }
}
@media (max-width: 767px) {
   .main_block_img {
      width: 60%;
   }
}
@media (max-width: 580px) {
   .main_block_img {
      margin: 0;
      width: inherit;
   }
}
.main_block_picture>img {
   height: auto;
   width: 100%;
}